* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    font-weight: bold;
}

a {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    margin: 40px 50px 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 5px;
    overflow: hidden;
}
